.form-inline
  = simple_form_for '', enforce_utf8: false, method: :get do |f|
    .form-group
      = f.input :search, label: false, required: false, input_html: { placeholder: 'Search...' }
      = f.button :submit, "Search"